
#login-page {
  height: 100vh;
  background-color: #24292E;
}

#upper-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: white;
  border-bottom-right-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 125px;
    margin-right: 40px;
    margin-bottom: 40px;
  }
}

#login-page-general {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
  left: 0;
  margin-top: 100px;
}
#login-container {
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  .MuiFormControl-root {
    width: 100%;
  }
  h1{
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
  }
  #login-email-container, #login-password-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #login-link-container {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
  }
  #login-email, #login-password {
    border: none;
    &:hover {
      background-image: none !important;
    }
  }

  #login-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: green;
  }
}

#login-page-logo {
  width: 600px;
  &:hover {
    cursor: pointer;
  }
}
#login-button-container-upper {
  display: flex;
  justify-content: space-evenly;
}
#login-button-container-bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  #login-register-button {
    width: 200px;
    margin-bottom: 10px;
    &:hover{
      background-color: rgba(0,0,0,.2);
    }
  }
}
#login-login-button {
  height: 40px;
  margin-top: 25px;
  background-color: rgba(0,175,0,.8);
  width: 100%;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0,175,0,0.4);
  }
}
#google-login-button {
  background-color: white;
  color: black;
  border-radius: 10px;
  &:hover {
    background-color: rgba(255,255,255,0.7);
  }
}
#google-login-button-img {
  height: 40px;
  max-width: 55px;
}


#login-page.dark {
  background-color: #282c34;
}
#login-page.light {
  background-color: white;
}
#upper-logo.light {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#login-container.dark{
  border: 1px solid white;
  box-shadow: inset 14px 14px 28px #111315,
  inset -14px -14px 28px #373f47;
  #login-email-label, #login-password-label {
    color: white;
  }
  #login-email, #login-password {
    color: white;
  }
}
#login-container.light{
  border: 1px solid black;
  box-shadow: inset 5px 5px 20px #666666,
  inset -5px -5px 20px #ffffff;
  #login-email-label, #login-password-label {
    color: black;
  }
  background-color: white;
}
#login-login-button.dark{
  border: 2px solid white;
}
#login-login-button.light{
  border: 2px solid black;
}
#login-link.dark{
  color: white;
}
#login-link.light{
  color: black;
}
#login-page-header-text.dark {
  color: white;
}
h1.dark {
  color: white;
}
h1.light {
  color: black;
}
#login-login-button.dark{
  color: white;
}
#login-register-button.dark{
  color: white;
}

@media only screen and (max-width: 569px) {
  h1 {
    margin-top: 50px;
  }
  #login-page-general {
    margin-top: 90px;
  }
  #upper-logo {
    width: 125px;
    height: 125px;
    img {
      max-width: 75px;
    }
  }
}

@media only screen and (min-width: 570px) and (max-width: 1001px) {
  h1 {
    margin-top: 30px;
    font-size: 40px;
  }
  #upper-logo {
    width: 125px;
    height: 125px;
    img {
      max-width: 75px;
    }
  }
  #login-page-general {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 1002px) {
  #login-page-upper {
    h1{
      margin-top: 0;
      font-size: 50px;
    }
  }
}