#login-page {
  height: 100vh;
  padding-top: 80px;
  background-color: #24292E; }

#login-page-upper-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: white;
  border-bottom-right-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #login-page-upper-logo img {
    max-width: 125px;
    margin-right: 40px;
    margin-bottom: 40px; }

#login-page-upper h1 {
  margin-top: 0;
  font-size: 50px; }

#login-page-general {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
  left: 0; }

#login-container {
  width: 350px;
  padding: 30px;
  border-radius: 10px; }
  #login-container .MuiFormControl-root {
    width: 100%; }
  #login-container h1 {
    margin-bottom: 25px;
    font-size: 30px; }
  #login-container #login-email-container, #login-container #login-password-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }
  #login-container #login-link-container {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end; }
  #login-container #login-email, #login-container #login-password {
    border: none; }
    #login-container #login-email:hover, #login-container #login-password:hover {
      background-image: none !important; }
  #login-container #login-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: green; }

#login-button-container-upper {
  display: flex;
  justify-content: space-evenly; }

#login-button-container-bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #login-button-container-bottom #login-register-button, #login-button-container-bottom #login-google-button {
    width: 200px; }
    #login-button-container-bottom #login-register-button:hover, #login-button-container-bottom #login-google-button:hover {
      background-color: rgba(0, 0, 0, 0.2); }

#login-login-button {
  height: 40px;
  margin-top: 25px;
  background-color: rgba(0, 175, 0, 0.8);
  width: 120px;
  border-radius: 30px; }
  #login-login-button:hover {
    background-color: rgba(0, 175, 0, 0.4); }

#login-page.dark {
  background-color: #282c34; }

#login-page.light {
  background-color: white; }

#login-page-upper-logo.light {
  border-right: 2px solid black;
  border-bottom: 2px solid black; }

#login-container.dark {
  border: 2px solid white; }
  #login-container.dark #login-email-label, #login-container.dark #login-password-label {
    color: white; }

#login-container.light {
  border: 2px solid black;
  background-color: white; }
  #login-container.light #login-email-label, #login-container.light #login-password-label {
    color: black; }

#login-email.dark, #login-password.dark {
  color: white; }

#login-email.light, #login-password.light {
  color: black; }

#login-login-button.dark {
  border: 2px solid white; }

#login-login-button.light {
  border: 2px solid black; }

#login-link.dark {
  color: white; }

#login-link.light {
  color: black; }

#login-page-header-text.dark {
  color: white; }

h1.light {
  color: black; }

/*# sourceMappingURL=login.css.map */
