#edit-page {
  height: 120vh;
  padding-top: 80px;
  background-color: #24292E;
}

#edit-page-general {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25vh;
  left: 0;
}

#edit-container {
  width: 700px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20vh;
  .MuiFormControl-root {
    width: 100%;
  }

  #identity-container, #edit-name-surname-container, #email-container, #password-container,#birth-container, #gender-container, #phone-container,#address-container,#photo-container{
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  #identity-label,#name-surname-label,#password-label,#birth-label,#email-label,#gender-label,#phone-label,#address-label,#photo-label{
    width: 30%;

  }


  #identity-text-container,#name-text-container,#surname-text-container,#email-text-container,#phone-text-container,#address-text-container{
    width: 30%;
    margin-left: 15px;
  }

  #edit-identity, #edit-name, #edit-surname, #edit-email, #edit-password,#edit-phone{
    border: none;
    &:hover {
      background-image: none !important;
    }
    height: 0.01vh;
  }

  #edit-adress{
    border: none;
    &:hover {
      background-image: none !important;
    }
    height: 1vh;
  }

  #icon-button-file{
      display: none,

  }
  #icon-button{
    margin-top: 5px;
  }

  #select-container{
    width: 15%;
    margin-left: 15px;
  }

  #date-icon-container{
    margin-left: 15px;
  }

  #file-upload-container{
    width: 25vh;
    margin-bottom: 10px;
    align-items: center;
  }

}

#editButton {
  height: 40px;
  margin-top: 10px;
  background-color: rgba(0,175,0,.8);
  width: 20%;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0,175,0,0.4);
  }
  position: absolute;
  right: 0;
}

#button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

#edit-page.dark {
  background-color: #282c34;
}
#edit-page.light {
  background-color: white;
}


#edit-container.dark{
  border: 1px solid white;
  box-shadow: inset 14px 14px 28px #111315,
  inset -14px -14px 28px #373f47;
  #edit-identity, #edit-name,
  #edit-surname, #edit-email, #edit-password,#edit-phone,
  #edit-adress,#date-picker-dialog,#date-picker-dialog-label{
    color: white;
  }

}
#edit-container.light{
  border: 1px solid black;
  box-shadow: inset 5px 5px 20px #666666,
  inset -5px -5px 20px #ffffff;
  background-color: white;
  #edit-identity, #edit-name, #edit-surname,
  #edit-email, #edit-password,#edit-phone,
  #edit-adress, #radiogroup-container{
    color: black;
  }
}
h3.dark {
  color: white;
}
h3.light {
  color: black;
}



#editButton.light{
  border: 2px solid black;
}

#editButton.dark{
  color: white;
  border: 2px solid white;
}


