#dashboard {
  height: 100vh;
  padding-top: 100px;
}
#dashboard.dark {
  background-color: #282c34;
  color: white;
}
#show-all-button {
  width: 20%;
  margin-top: 20px;
}
#show-all-button.dark {
  background-color: white;
  color: #282c34;
  &:hover {
    background-color: rgba(255,255,255, .7);
  }
}

#show-all-button.light {
  background-color: #282c34;
  color: white;
  &:hover {
    background-color: rgba(0,0,0, .5);
  }
}

@media only screen and (max-width: 778px) {
  .MuiGrid-container {
    display: flex;
    flex-direction: column;
  }
  .MuiGrid-item, .MuiGrid-grid-xs-6 {
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}