#announcements-part {
  max-height: 720px;
  overflow: auto;
}

#apply-button.dark {
  margin-top: 20px;
  background-color: white;
  width: 20%;
  &:hover {
    background-color: rgba(255,255,255, .7);
  }
}
#apply-button.light {
  margin-top: 20px;
  background-color: #282c34;
  color: white;
  width: 20%;
  &:hover {
    background-color: rgba(0,0,0, .5);
  }
}