.file-displayer-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: rgba(0,0,0,0.2);
  font-size: 23px;
  border-radius: 43px;
  margin: 17px;
}
.file-displayer-sub-container {
  margin-left: 35px;
}
.file-displayer-container.dark {
  background-color: rgba(255,255,255, 0.2);
}
.file-displayer-link {
  color: black !important;
  &:hover {
    text-decoration: none !important;
  }
}
.file-displayer-link.dark {
  color: white !important;
}