
.MuiToolbar-regular {
  display: flex;
  justify-content: space-between;
}
#theme-button-signed-in, #exit-button {
  margin-left: 20px;
}

#theme-button-signed-in.light, #exit-button.light {
  background-color: #282c34;
  color: white;
}

#header-bar {
  box-shadow: none;
  background-color: #2076D2;
}

#header-bar.light {
  background-color: #D5D5D5;
  color: #282c34;
}