
.MuiToolbar-regular {
  display: flex;
  justify-content: space-between;
}
#header-upper-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  #header-user-info {
    max-width: 250px;
  }
}
#theme-button-signed-in {
  min-width: 36px;
  border-radius: 20px;
  padding: 10px;
}

#theme-button-signed-in, #exit-button {
  margin-left: 20px;
}

#exit-button.light {
  background-color: rgba(0,0,0,.3);
  color: white;
}

#header-bar {
  position: fixed;
  box-shadow: none;
  background-color: #D5D5D5;
  color: #282c34;
}

#header-bar.light {
  color: white;
  background-color: #2076D2;
}
#header-bottom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header-logo {
  max-width: 140px;
}
#header-logo-link:hover {
  cursor: pointer;
}
#header-user-name {
  font-weight: bold;
  font-style: italic;
  margin-right: 2vw; 
}
.active-page.dark {
  background-color: rgba(0,255,255, 0.3) !important;
}

.active-page.light {
  background-color: rgba(255,255,255, 0.3) !important;
}
