
.MuiToolbar-regular {
  display: flex;
  justify-content: space-between;
}
#theme-button-signed-in {
  min-width: 36px;
  border-radius: 20px;
  padding: 10px;
}

#theme-button-signed-in, #exit-button {
  margin-left: 20px;
}

#exit-button.light {
  background-color: rgba(0,0,0,.3);
  color: white;
}

#header-bar {
  position: fixed;
  box-shadow: none;
  background-color: #D5D5D5;
  color: #282c34;
}

#header-bar.light {
  color: white;
  background-color: #2076D2;
}