#forgot-password-page {
  height: 100vh;
  padding-top: 80px;
  background-color: #24292E;
}
#forgot-password-page-upper {
  h1{
    margin-top: 0;
    font-size: 50px;
  }
}
#forgot-password-page-general {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
  left: 0;
}
#forgot-password-container {
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  .MuiFormControl-root {
    width: 100%;
  }
  h1{
    margin-bottom: 25px;
    font-size: 30px;
  }
  #forgot-password-email-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #forgot-password-email {
    border: none;
    &:hover {
      background-image: none !important;
    }
  }
}

#forgot-password-button-container-upper {
  display: flex;
  justify-content: space-evenly;
}
#forgot-password-button-container-bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#forgot-password-send-button {
  height: 40px;
  margin-top: 25px;
  background-color: rgba(0,175,0,.8);
  width: 120px;
  border-radius: 30px;
  &:hover {
    background-color: rgba(0,175,0,0.4);
  }
}
#forgot-password-page.dark {
  background-color: #282c34;
}
#forgot-password-page.light {
  background-color: white;
}
#forgot-password-container.dark{
  border: 2px solid white;
  #forgot-password-email-label {
    color: white;
  }
  #forgot-password-email {
    color: white;
  }
}
#forgot-password-container.light{
  border: 2px solid black;
  #forgot-password-email-label {
    color: black;
  }
  background-color: white;
}
#forgot-password-send-button.dark{
  border: 2px solid white;
}
#forgot-password-send-button.light{
  border: 2px solid black;
}
#forgot-password-header-text.dark {
  color: white;
}
h1.dark {
  color: white;
}
h1.light {
  color: black;
}
#forgot-password-send-button.dark{
  color: white;
}