#forgotPassword-page {
  height: 100vh;
  padding-top: 80px;
  background-color: #24292E;
}

#forgotPassword-page-general {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
  left: 0;
}

#forgotPassword-container {
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  .MuiFormControl-root {
    width: 100%;
  }

  #email-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #login-email{
    border: none;
    &:hover {
      background-image: none !important;
    }
  }

}

#forgotPasswordButton {
  height: 40px;
  margin-top: 25px;
  background-color: rgba(0,175,0,.8);
  width: 120px;
  border-radius: 30px;
  &:hover {
    background-color: rgba(0,175,0,0.4);
  }
}

#button-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#forgotPassword-page.dark {
  background-color: #282c34;
}
#forgotPassword-page.light {
  background-color: white;
}

#forgotPassword-container.dark{
  border: 2px solid white;
  #login-email-label, #login-password-label {
    color: white;
  }
  #login-email, #login-password {
    color: white;
  }
}
#forgotPassword-container.light{
  border: 2px solid black;
  #login-email-label, #login-password-label {
    color: black;
  }
  background-color: white;
}

#forgotPasswordButton.light{
  border: 2px solid black;
}

#forgotPasswordButton.dark{
  color: white;
  border: 2px solid white;
}
